.block {
  --progress: 0;
  --size: 8px;
  position: relative;
  height: var(--size);
  width: 100%;
}

.circle {
  position: absolute;
  z-index: 10;
  top: 0;
  left: var(--progress);
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--white-text);
}

.line {
  --offset: 4px;
  --offset-sm: 6px;
  z-index: 1;
  height: var(--size);
  border-radius: var(--border-radius);
  -webkit-mask: radial-gradient(circle at calc(var(--progress) + var(--offset)), transparent var(--offset-sm), black var(--offset-sm), black var(--offset-sm));
  mask: radial-gradient(circle at calc(var(--progress) + var(--offset)), transparent var(--offset-sm), black var(--offset-sm), black var(--offset-sm));
}

.normal {
  background: rgba(218, 218, 218, 0.4);
}

.hight {
  background: linear-gradient(90deg, rgb(218, 218, 218) 0%, rgb(138, 138, 138) 20%, rgb(84, 84, 84) 50%, rgb(138, 138, 138) 80%, rgb(218, 218, 218) 100%);
  opacity: 0.4;
}

@media all and (max-width: 767px) {
  .block {
    --size: 6px;
  }
  .line {
    --offset: 3px;
    --offset-sm: 5px;
  }
}