.content__right-item-title {
  color: var(--text-color-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.content__right-item-info {
  color: var(--text-color-black);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

.content__right-item-desc, .content__right-item-extra-desc {
  display: flex;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-color-black-light);
}

.content__right-item-extra-desc {
  justify-content: space-between;

}

.content__right-item-desc {
  justify-content: center;
}

.content__right-item-barometer-wrap {
  position: relative;
  width: 100%;
}

.content__right-item-barometer {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 8px;
  border-radius: 50px;
  mask: radial-gradient(circle at 75%, transparent 6px, black 6px);
}

.content__right-item-ball {
  position: absolute;
  left: calc(75% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--barometer-ball-bg);
}

@media (max-width: 768px) {
  .content__right-item-title {
    font-size: 12px;
    line-height: 16px;
  }

  .content__right-item-icon {
    width: 24px;
    height: 24px;
  }

  .content__right-item-info {
    font-size: 22px;
    line-height: 22px;
  }

  .content__right-item-ball {
    width: 6px;
    height: 6px;
  }

  .content__right-item-barometer {
    min-height: 6px;
  }

  .content__right-item-desc, .content__right-item-extra-desc {
    text-align: center;
    font-size: 10px;
    line-height: 12px;
  }
}