*, *::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  position: relative;
  min-width: 1280px;
  padding: 32px 80px 32px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background: #000 url('../public/jpg/mainBg.jpeg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


