*, *::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

body {
  position: relative;
  min-width: 375px;
  padding: 32px 80px 32px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background: #2c2c2c url('../public/jpg/mainBg.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 1170px) {
  body {
    padding: 32px 0;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 24px 0;
  }
}

@media (max-width: 640px) {
  body {
    padding: 16px 0;
  }
}