.hero {
  max-width: 1120px;
  border-radius: 8px;
  backdrop-filter: blur(25px);
  background: var(--main-bg-color);
  transition: max-width .3s ease;
}

@media (max-width: 1170px) {
  .hero {
    max-width: 960px;
  }
}

@media (max-width: 1000px) {
  .hero {
    max-width: 830px;
  }
}

@media (max-width: 850px) {
  .hero {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .hero {
    max-width: 608px;
  }
}

@media (max-width: 620px) {
  .hero {
    max-width: 343px;
  }
}