:root {
  --main-paddings: 32px;
  --text-color-white: rgb(245, 244, 244);
  --text-color-grey: rgb(166, 166, 166);
  --bg-color: rgba(245, 244, 244, 0.4);
  --text-color-black: rgb(32, 32, 32);
  --text-color-black-light: rgb(57, 57, 57);
  --placeholder-color: rgb(112, 112, 112);
  --main-bg-color: rgba(112, 112, 112, 0.1);
  --barometer-main-bg: rgba(218, 218, 218, 0.4);
  --barometer-ball-bg: rgb(245, 244, 244);
  --barometer-special-bg: linear-gradient(90deg, #DADADA, #8A8A8A, #DADADA);
}

@media (max-width: 1000px) {
  :root {
    --main-paddings: 24px;
  }
}

@media (max-width: 768px) {
  :root {
    --main-paddings: 16px;
  }
}